.form2doc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }
  .form2doc .f2du-bold {
    font-weight: bold; }
  .form2doc .f2du-bordered {
    border: 1px solid #111; }
  .form2doc .f2d-header {
    text-align: center;
    margin-top: 22px; }
    .form2doc .f2d-header img {
      width: 200px; }
  .form2doc .f2d-name {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px; }
  .form2doc .f2d-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px; }
  .form2doc .f2d-appointment-info {
    text-align: center;
    margin-top: 30px; }
  .form2doc .f2d-appointment-choice {
    font-weight: bold;
    text-align: center;
    margin-top: 30px; }
  .form2doc .f2d-scheduled {
    margin-top: 30px; }
  .form2doc .f2d-claim {
    margin-top: 30px; }
  .form2doc .f2d-location-header {
    margin-top: 30px; }
  .form2doc .f2d-location-choice {
    font-weight: bold;
    margin-top: 10px; }
  .form2doc .f2d-confirm {
    margin-top: 30px; }
  .form2doc .f2d-table-notes {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 30px; }
    .form2doc .f2d-table-notes th {
      font-weight: normal;
      text-align: center;
      width: 50%; }
  .form2doc .f2d-confirm-choice {
    margin-top: 30px; }
  .form2doc .f2d-forward-header {
    margin-top: 30px; }
  .form2doc .f2d-forward-choice {
    font-weight: bold;
    margin-top: 10px; }
  .form2doc .f2d-table-signature {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 65px; }
  .form2doc .f2d-extra-info {
    margin-top: 65px; }
  .form2doc .f2d-contact {
    margin-top: 65px;
    text-transform: uppercase;
    text-align: center; }
  .form2doc .f2d-meta-info {
    margin-top: 30px; }
