.form2doc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }
  .form2doc address {
    font-style: normal; }
  .form2doc .f2du-bold {
    font-weight: bold; }
  .form2doc .f2du-bordered {
    border: 1px solid #111; }
  .form2doc .f2du-hr {
    display: inline-block;
    vertical-align: text-top;
    max-width: 100%; }
    .form2doc .f2du-hr .hr {
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid black; }
    .form2doc .f2du-hr sub {
      display: block;
      text-align: center; }
    .form2doc .f2du-hr-lg {
      width: 260px; }
    .form2doc .f2du-hr-sm {
      width: 110px; }
  .form2doc .f2du-radio {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px black;
    line-height: 0;
    margin-right: 1em; }
    .form2doc .f2du-radio input {
      margin: 0; }
  .form2doc .f2d-header {
    text-align: center;
    margin-top: 14px; }
    .form2doc .f2d-header img {
      width: 200px; }
  .form2doc .f2d-name {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35px; }
  .form2doc .f2d-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 35px; }
  .form2doc .f2d-appointment-info {
    margin-top: 35px; }
  .form2doc .f2d-appointment-choice {
    font-weight: bold;
    text-align: center;
    margin-top: 35px; }
    .form2doc .f2d-appointment-choice.flexed {
      display: flex;
      justify-content: space-evenly; }
  .form2doc .f2d-scheduled {
    margin-top: 35px; }
  .form2doc .f2d-claim {
    margin-top: 35px; }
  .form2doc .f2d-location-header {
    margin-top: 35px; }
  .form2doc .f2d-location-choice {
    font-weight: bold;
    margin-top: 10px; }
  .form2doc .f2d-location-choices {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; }
    .form2doc .f2d-location-choices address {
      display: inline-block;
      margin: 1em;
      min-width: 180px; }
  .form2doc .f2d-confirm {
    margin-top: 35px; }
  .form2doc .f2d-table-notes {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 35px; }
    .form2doc .f2d-table-notes th {
      font-weight: normal;
      text-align: center;
      width: 50%; }
    .form2doc .f2d-table-notes .f2d-table-note p {
      border-bottom: 1px solid black;
      margin: 1em 2em;
      padding: 0; }
  .form2doc .f2d-confirm-choice {
    margin-top: 35px; }
  .form2doc .f2d-forward-header {
    margin-top: 35px; }
  .form2doc .f2d-forward-choice {
    margin-top: 10px; }
  .form2doc .f2d-table-signature {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 70px; }
  .form2doc .f2d-extra-info {
    margin-top: 70px; }
  .form2doc .f2d-contact {
    margin-top: 70px;
    text-transform: uppercase;
    text-align: center; }
  .form2doc .f2d-meta-info {
    margin-top: 35px; }
