$px-xs: 10px;
$px-sm: 14px;
$px-md1: 18px;
$px-md2: 22px;
$px-md3: 26px;
$px-lg: 30px;
$px-xl: 35px;
$px-xl2: 45px;
$px-xl3: 55px;
$px-xl4: 65px;
.form2doc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  .f2du-bold {
    font-weight: bold;
  }
  .f2du-bordered {
    border: 1px solid #111;
  }
  .f2d {
    &-header {
      text-align: center;
      margin-top: $px-md2;
      img {
        width: 200px;
      }
    }
    &-name {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: $px-lg;
    }
    &-title {
      text-align: center;
      text-transform: uppercase;
      margin-top: $px-lg;
    }
    &-appointment-info {
      text-align: center;
      margin-top: $px-lg;
    }
    &-appointment-choice {
      font-weight: bold;
      text-align: center;
      margin-top: $px-lg;
    }
    &-scheduled {
      margin-top: $px-lg;
    }
    &-claim {
      margin-top: $px-lg;
    }
    &-location-header {
      margin-top: $px-lg;
    }

    &-location-choice {
      font-weight: bold;
      margin-top: $px-xs;
    }
    &-confirm {
      margin-top: $px-lg;
    }

    &-table-notes {
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      margin-top: $px-lg;
      th{
        font-weight: normal;
        text-align: center;
        width: 50%;
      }
    }
    &-confirm-choice {
      margin-top: $px-lg;
    }

    &-forward-header {

      margin-top: $px-lg;
    }
    &-forward-choice {
      font-weight: bold;

      margin-top: $px-xs;
    }


    &-table-signature {
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      margin-top: $px-xl4;

    }

    &-extra-info {
      margin-top: $px-xl4;

    }
    &-contact {
      margin-top: $px-xl4;
      text-transform: uppercase;
      text-align: center;

    }
    &-meta-info {
      margin-top: $px-lg;

    }
  }
}
