$px-xs: 10px;
$px-sm: 14px;
$px-md1: 18px;
$px-md2: 22px;
$px-md3: 26px;
$px-lg: 35px;
$px-xl: 40px;
$px-xl2: 50px;
$px-xl3: 60px;
$px-xl4: 70px;
.form2doc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  address{
    font-style: normal;
}
  .f2d {
    &u- {
      &bold {
        font-weight: bold;
      }
      &bordered {
        border: 1px solid #111;
      }
      &hr {
        display: inline-block;
        vertical-align: text-top;
        max-width: 100%;
        .hr {
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid black;
        }
        sub {
          display: block;
          text-align: center;
        }
        &-lg {
          width: 260px;
        }
        &-sm {
          width: 110px;
        }
      }

      &radio {
        display: inline-block;
        border: 1px solid black;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px black;
        line-height: 0;
        margin-right: 1em;
        input {
          margin: 0;
        }
      }
    }
    &-header {
      text-align: center;
      margin-top: $px-sm;
      img {
        width: 200px;
      }
    }
    &-name {
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      margin-top: $px-lg;
    }
    &-title {
      text-align: center;
      text-transform: uppercase;
      margin-top: $px-lg;
    }
    &-appointment-info {
      margin-top: $px-lg;
    }
    &-appointment-choice {
      font-weight: bold;
      text-align: center;
      margin-top: $px-lg;
      &.flexed {
        display: flex;
        justify-content: space-evenly;
      }
    }
    &-scheduled {
      margin-top: $px-lg;
    }
    &-claim {
      margin-top: $px-lg;
    }
    &-location-header {
      margin-top: $px-lg;
    }

    &-location-choice {
        font-weight: bold;
        margin-top: $px-xs;
      }
      &-location-choices {
        margin-top: $px-xs;
        display: flex;
        flex-wrap: wrap;
        address{
            display: inline-block;
            margin: 1em ;
            min-width: 180px;
        }
      }
    &-confirm {
      margin-top: $px-lg;
    }

    &-table-notes {
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      margin-top: $px-lg;
      th {
        font-weight: normal;
        text-align: center;
        width: 50%;
      }
      .f2d-table-note{
          p{
              border-bottom: 1px solid black;
              margin: 1em 2em;
              padding: 0;
          }
      }
    }
    &-confirm-choice {
      margin-top: $px-lg;
    }

    &-forward-header {
      margin-top: $px-lg;
    }
    &-forward-choice {
      margin-top: $px-xs;
    }

    &-table-signature {
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
      margin-top: $px-xl4;
    }

    &-extra-info {
      margin-top: $px-xl4;
    }
    &-contact {
      margin-top: $px-xl4;
      text-transform: uppercase;
      text-align: center;
    }
    &-meta-info {
      margin-top: $px-lg;
    }
  }
}
