﻿
.ranklist{
    background-color: #d1d1d1;
    &.expand{
        max-height: 2100px;
    }
}

.info-row{
    &.blind-expand{
        max-height: 1500px;
    }
    &.collapse {
        max-height: 0;
    }
}
.section-speeds{
    &.expand{
        max-height: 1500px;
    }
}
//track
.track-big{
    svg{
        height:330px;
    }
}

//conditions
.conditions{
	font-weight:bold;
	h5{
		margin: 55px 0 20px;
        text-transform:uppercase;
	}
	em{font-size:16px;}
	p{
		font-size: 18px;
	}
}

//sectiontimes
.lastlap-sectiontimes{
    .inlinegrid-item{
	    width: 9%;
	    font-weight: bold;
        font-size:16px;
        &.item1{
            position:relative;
            width:18%;
		    background-color:white;
		    padding:5px 5px;
            .thumb{
                position:relative;
                cursor:pointer;
                [alt="number"]{
                    position:absolute;
                    top: 80px;
                    left: 0;
                    width: 40px;
                }
                [alt="engine"]{
                    position:absolute;
                    top: 85px;
                    right: 0;
                    width: 25px;
                }
            }
            .name{
			    font-size: 11px;
			    margin-top: 5px;
                font-weight:bold;
            }
        }
    }

}


[data-active="section0"]{ .section0{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section1"]{ .section1{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section2"]{ .section2{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section3"]{ .section3{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section4"]{ .section4{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section5"]{ .section5{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section6"]{ .section6{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section7"]{ .section7{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section8"]{ .section8{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }
[data-active="section9"]{ .section9{border-color: black; .place:before{border:1px solid black;} .time{height:51px;} .has-popover{visibility:hidden} .backbutton{display:inline-block;} } }

