﻿.best-sectiontimes{
    .best{
        height:278px;
    }
}

.best{
	margin:5px 0 40px;
	padding:5px 10px;
	background-color: white;
    font-weight:bold;
    border:1px solid white;
    position:relative;
	.place{
		display: inline-block;
		@include bgskew( #9b9b9b );
		color:black;
		text-align: center;
		width:27px;
		top:-15px;
		font-style:italic;
		font-size: 18px;
	}
    .lap{
        font-size: 18px;
        &:before{
            content:'Lap '
        }
    }
	.title{
		position:relative;	
		top:-19px;
		font-style:italic;
		color: $site-red;
		font-size: 20px;
	}
	.thumb{
		width:79%;
        position:relative;	
        margin:0 auto;
        cursor:pointer;
        [alt="number"]{
            position: absolute;
            top: 110px;
            left: 0;
            width: 50px;
        }
        [alt="engine"]{
            position: absolute;
            top: 115px;
            right: 5px;
            width: 30px;
        }
	}

	.name{
		margin:9px 0 12px;
        font-size:17px;
		text-align: center;
        text-transform:uppercase;
		font-style: italic;
        font-weight:bold;
	}
	.time{
		@include bgskewLeft( #191919 );
		padding:5px 25px;
		bottom:1px;
		right:-11px;
		font-weight: normal;
		font-style: italic;
		color:white;
	}
	.label{
		color: black;
		text-align: right;
        font-weight:bold;
	}
    .backbutton{
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        padding:3px 2px 3px 10px;
    }
    
}
