﻿button{
	background-color:transparent;
	border:0 solid;
	padding:0;
	color:#6d6d6d;
  
	&.btn-red{
		background-color: $site-red;
		color:white;
        padding:0 10px;
	}
	&.btn-tab{
	    @include bgskewLeft( #3a3a3a );
		color:white;
        margin-left:10px;
        padding:10px 10px 10px 5px;
        text-transform:uppercase;
        font-weight:bold;
	    &.on{
		    cursor: default;
            background-color: $site-red;
            &:before{
	            background-color: $site-red;
            }
	    }
        &:focus{
            outline:none;
        }
	}
	&.btn1{
		font-size:21px;
        margin-left:15px;
        span{
            font-size:14px;
            font-weight:bold;
            margin-right:3px;
        }
	}
	&.btn2{
		@include skewarrow($site-red);
		color:$site-red;
		font-style: italic;
        font-weight:bold;
	}

	&.btn-white{
		@include skewarrow( white );
		color:white;
		font-size:13px;
		font-style: italic;
	}
	&.btn-back{
		@include skewarrow( white );
		color:white;
		font-size:13px;
		font-style: italic;
	}
    &.btn-close{
		color: white;
    }
    svg{
        height:16px;
        width:22px;
        fill:#6d6d6d;
    }
	&.active{
		color:$site-red;
		cursor: default;
        outline:none;
        svg{
            fill:$site-red;
        }
	}

}
.backbutton-container, .morebutton-container{
	.contain2{
		margin-right: auto;
		margin-left: auto;
		width:960px;
		position: relative;
		&:before{
			content: '';
			background-color: $site-red;
			position: absolute;
			top:0;
			right:100%;
			bottom:0;
			left:-100%;
		}
	}
}
.backbutton,.morebutton{
	@include inlineblock(middle);
	@include backskew( $site-red );
	text-align: right;
	padding: 2px 15px 1px 10px;
}

.backbutton-right{
	width: 740px;
	height:23px;
	button{
		margin:3px 0 0 10px;
	}

	&.on-mode{
		@include bgskewLeft( $site-red );
	}
	margin-top:5px;
}
.extend-bg{
	position: relative;
	height:25px;

    .extend1{
		position: absolute;
		right:0;
		left:70%;
		background-color: $site-red;
		top:30px;
		height:23px;
    }
    .extend2{
		position: absolute;
		right:0;
		left:70%;
		background-color: white;
		top:73px;
		height:50px;
    }
}
