﻿.moredrivers {
    background-color: #d1d1d1;
    border-bottom: 3px solid #bcbcbc;
    padding-top: 15px;
}

.drivers {
    background-color: #d1d1d1;

    &.blind-collapse {
        max-height: 315px;
        -moz-transition: max-height 1s;
        -o-transition: max-height 1s;
        -webkit-transition: max-height 1s;
        transition: max-height 1s;
    }

    &.expand {
        max-height: 3333px;
        -moz-transition: max-height 3s;
        -o-transition: max-height 3s;
        -webkit-transition: max-height 3s;
        transition: max-height 3s;
    }

    .drivers-grid {

        .inlinegrid-item {
            width: 25%;
            padding: 10px;
            vertical-align: top;

            .driver {
                padding: 15px 0 20px;
                position: relative;
                background-color: white;

                .position {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    font-size: 35px;
                    font-weight: bold;
                    font-style: italic;
                }

                .status {
                    position: absolute;
                    background-size: contain;

                    &.hot {
                        @include bgskewLeft( $site-red );
                        color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 3px 5px 2px 0;

                        &:after {
                            content: "ON THE MOVE";
                            font-size: 11px;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }

                    &.pit {
                        @include bgskewLeft( black );
                        color: white;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        padding: 5px 12px 5px 7px;

                        &:after {
                            content: "PIT";
                            font-size: 20px;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }

                    &.out {
                        @include bgskewLeft( black );
                        color: white;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        padding: 5px 12px 5px 7px;

                        &:after {
                            content: "OUT";
                            font-size: 20px;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }
                }

                .thumb {
                    cursor: pointer;
                }

                [alt="number"] {
                    position: absolute;
                    top: 120px;
                    left: 0;
                    width: 50px;
                }

                [alt="engine"] {
                    position: absolute;
                    top: 127px;
                    right: 10px;
                    width: 30px;
                }
                .name {
                    @include ellipsed();
                    display: block;
                    text-align: center;
                    margin: 12px 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 16px;
                }

                table {
                    width: 100%;
                    font-size: 12px;
                    text-align: center;

                    th {
                        color: #676767;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
