﻿.dropdown-container{
    position:relative;
    z-index:2;
}
.dropdowns {
    @include bgskew(white);
    padding:5px 0 5px 10px;
    .dropdown {
        @include inlineblock( middle );
        margin-right:0;
        margin-left:10px;
        button {
            color: #111;
            font-size: 16px;
            font-style: italic;
            font-weight:bold;
            &:focus{
                outline:none;
                color:$site-red;
            }
        }

        .dropdown-menu {
            left: auto;
            right: 0;
            color:white;
            background-color: #191919;
            border-color:#191919;
            >li>a{
                color:white;
                font-style: italic;

                &:hover{
                    color:#191919;
                }
            }
        }
    }

    .filter button{
        @include skewarrowBottom($site-red);
    }
    .track-dropdown{
        position:static;
        margin-right:20px;
        button{
            @include skewarrow($site-red);
            &:before{
                top:12px;
            }
        }
        .dropdown-menu {
            right: 0;
            width:941px;
        }

    }
}
