﻿footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &.blind-collapse {
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;

        &.expand {
            -moz-transition-delay: 1s;
            -o-transition-delay: 1s;
            -webkit-transition-delay: 1s;
            transition-delay: 1s;
            max-height: 222px;
        }
    }

    section {
        background-image: linear-gradient(to bottom, #2d2d2d 0, #000 55%);
        color: white;
        font-size: 12px;
        text-align: center;
    }


    .foot-item {
        border-left: 1px solid #333;
        padding: 15px 0;
        font-style: italic;
        font-weight:bold;
        p {
            @include bgskew( #9b9b9b );
            display: inline-block;
            height: 35px;
            margin: 5px 0;
            padding: 5px 8px;
            font-size: 16px;
            color:#111;
            small {
                font-size: 10px;
                margin-top: -6px;
                display: block;
            }
        }

        em {
            display: block;
        }
    }
}


.foot-item-L{
    .foot-item-hdr{
	    margin: 0;
	    font-style:italic;
        position:relative;
		color: $site-red;
		font-size: 14px;
        bottom:-20px;
	}
	.inlinegrid{
        text-align:center;
    }
	.inlinegrid-item{
		font-size: 11px;
        width:8%;
	    &.item1{
		    width:16%;
            padding-right:10px;
            .thumb{
                position:relative;
                display:inline-block;
                cursor:pointer;
                [alt="number"]{
                    position: absolute;
                    top: 42px;
                    left: 0;
                    width: 25px;
                }
                [alt="engine"]{
                    position: absolute;
                    top: 44px;
                    right: 0;
                    width: 20px;
                }
            }
    	    .name{
		        display: block;
		        @include ellipsed();
	        }
            img{
                max-height:70px;
            }
	    }
	    &.item2{
		    width:12%;
            padding-right:10px;

	    }

	}
}