﻿.inlinegrid{
	text-align:center;
    margin-right:-10px;
    margin-left:-10px;
}
.inlinegrid-item{
	@include inlineblock( middle );
	text-align: center;
    margin-right:-3px;
}

.inlinegrid-hdr{
	margin: 0;
	font-weight: bold;
	font-style:italic;
    position:relative;
    bottom:-50px;
	padding-left: 230px;
}
