﻿
@mixin inlineblock($position) {
	display: inline-block;
	vertical-align: $position;
	margin-right:-5px;
}

@mixin ellipsed() {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

@mixin bgskew($bg) {
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $bg;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1;
    }
}

@mixin backskew($bg) {
    position: relative;
    z-index: 1;
    background-color: $bg;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: -5px;
        bottom: 0;
        left: 10px;
        background-color: $bg;
        -ms-transform: skewX(12deg);
        -moz-transform: skewX(12deg);
        -o-transform: skewX(12deg);
        -webkit-transform: skewX(12deg);
        transform: skewX(12deg);
        z-index: -1;
    }
}

@mixin bgskewLeft($bg) {
    position: relative;
    z-index: 1;
    background-color: $bg;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        left: -5px;
        background-color: $bg;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1;
    }
}

@mixin skewarrow($bg) {
    position: relative;
    z-index: 1;
    padding-right: 20px;

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        right: 0;
        height: 0;
        width: 0;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1;
        border: 6px solid $bg;
        border-color: transparent transparent $bg $bg;
    }
}

@mixin skewarrowBottom($bg) {
    position: relative;
    z-index: 1;
    padding-right: 20px;

    &:before {
        content: '';
        position: absolute;
        bottom: 6px;
        right: 0;
        height: 0;
        width: 0;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1;
        border: 6px solid $bg;
        border-color: transparent transparent $bg $bg;
    }
}

@mixin bg3step($a,$b,$c){
  background-image:linear-gradient(103deg, transparent 20px,$a 21px,$a 30px,$b 31px,$b 40px,$c 41px);
}
@mixin bg3stepWithRightAngle($a,$b,$c){
  background-image:linear-gradient(103deg, transparent 20px,$a 21px,$a 30px,$b 31px,$b 40px,$c 41px,$c 90%, transparent 91%);
}