﻿.modaldialog{
	width:945px;
	.modal-content{
		background-color:transparent;
		box-shadow:none;
		border:0 none;
	}
	.modal-header{
		border:0 none;
		padding:0;
		button{
			color:white;
			font-size: 20px;
			span{
				font-size: 32px;	
				vertical-align: -4px;
			}
		}
	}
	.modal-body{
		background-color: white;
		background-image: url("../assets/drive-profile-bkgd.jpg");
		background-position: center top;
		border-radius: 10px;
		padding: 72px 0 0;
		min-height: 700px;
        background-size: 945px auto;
        background-repeat: no-repeat;
		.name-bg{
			font-size: 140px;
			line-height: 125px;
			font-weight:bold;
			text-transform: uppercase;
			position: absolute;
			z-index: 0;
			top:30px;
			left:110px;
			color: rgba(218, 41, 28, 0.10);
			span{
				display: block;
                width:1px;
			}
			.last{
				margin-left: 110px;
			}
		}
		.modal-body-container{
			margin-right: 25px;
			margin-left: 280px;
			position: relative;
			z-index: 1;
		}
		.name-big{
            @include ellipsed();
			font-size: 63px;
			font-weight:bold;
			text-transform: uppercase;
            height:90px;

		}

        .table{
			display:table;
			width:100%;
		}
		.tr{
			display:table-row;
		}
		.td{
			display:table-cell;
			text-align:center;
			font-weight: bold;
			vertical-align: middle;
		}
		.th{
			display:table-cell;
			width:10%;
			text-align:center;
			font-weight: bold;
			font-style: italic;
		}
        .driver-details{
            font-size:16px;
            height:43px;
            margin-left:-25px;
			img{
				width:35px;
			}
        }
        .driver-times{
            .tr2{
                padding-bottom:15px;
            }
            .tr3{
                padding-bottom:35px;
            }
            .td2{
                @include inlineblock(bottom);
			    text-align:center;
			    font-weight: bold;
                width:64px;
                div{
                    margin-top:15px;
                }
            }
        }
        .position-tab{
            margin-top:16px;
            margin-left:15px;
            .em{
                @include bgskewLeft( #191919 );
		        color:white;
                font-size:24px;
                padding:12px 15px;
                font-weight:bold;
                line-height:1;
            }
        }
		.hdr-big{
			font-size: 37px;
			font-weight:bold;
			margin-top: 10px;
			margin-bottom: 45px;
            img{
                height:40px;
                vertical-align: -6px;
            }
		}
        .fast-stats{
            div{
                text-align:center;
    			font-weight:bold;
    			font-style: italic;
            }
            strong{
			    display: block;
		    }
		    p{
			    @include bgskew( #9b9b9b );
			    display: inline-block;
			    /*height: 35px;*/
			    margin: 5px 0;
			    padding:7px;
			    font-size: 18px;

		    }
			    .avgspeed{
				    font-size: 10px;
                    top: -19px;
                    display: block;
                    z-index: 1;
                    position: relative;
			    }
        }
		.fullshot{
			position:absolute;
			top:25px;
			left:-70px;
            height:680px;
		}

	}
}
