﻿.video {
    border: 0 solid transparent;
    width: 700px;
    height: 394px;
}

.video.full {
    width: 940px;
    height: 529px;
}

.radio {
    border: 0 solid transparent;
    width: 220px;
    height: 141px;
}

.radio.full {
    width: 940px;
    height: 181px;
}
