﻿
.popover{
    left:0!important;
    right:0;
    max-width:none;
    background-color:#191919;
	font-family: $font-stack;
    box-shadow:none;
    padding:0;
    border:0 none;
    padding-bottom:120px;
    .popover-content{
        padding:15px 0 60px;
    }
    h4{
        font-size:20px;
        margin-bottom:12px;
        color:white;
    }
}