﻿.preloader {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;

    .vertical-alignment {
        position: relative;
        top: 50%;
    }

    .spinner {
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -moz-animation-direction: reverse;
        -o-animation-direction: reverse;
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        visibility: hidden;
    }

    .spinner1 {
        -moz-animation-name: spinner1;
        -o-animation-name: spinner1;
        -webkit-animation-name: spinner1;
        animation-name: spinner1;
    }

    .spinner2 {
        -moz-animation-name: spinner2;
        -o-animation-name: spinner2;
        -webkit-animation-name: spinner2;
        animation-name: spinner2;
    }

    .spinner3 {
        -moz-animation-name: spinner3;
        -o-animation-name: spinner3;
        -webkit-animation-name: spinner3;
        animation-name: spinner3;
    }
}

@-moz-keyframes spinner1 {
    0% {
        visibility: visible;
    }

    33% {
        visibility: hidden;
    }
}

@-webkit-keyframes spinner1 {
    0% {
        visibility: visible;
    }

    33% {
        visibility: hidden;
    }
}

@keyframes spinner1 {
    0% {
        visibility: visible;
    }

    33% {
        visibility: hidden;
    }
}

@-moz-keyframes spinner2 {
    0% {
        visibility: hidden;
    }

    33% {
        visibility: visible;
    }

    66% {
        visibility: hidden;
    }
}

@-webkit-keyframes spinner2 {
    0% {
        visibility: hidden;
    }

    33% {
        visibility: visible;
    }

    66% {
        visibility: hidden;
    }
}

@keyframes spinner2 {
    0% {
        visibility: hidden;
    }

    33% {
        visibility: visible;
    }

    66% {
        visibility: hidden;
    }
}

@-moz-keyframes spinner3 {
    0% {
        visibility: hidden;
    }

    66% {
        visibility: visible;
    }
}

@-webkit-keyframes spinner3 {
    0% {
        visibility: hidden;
    }

    66% {
        visibility: visible;
    }
}

@keyframes spinner3 {
    0% {
        visibility: hidden;
    }

    66% {
        visibility: visible;
    }
}
