﻿
body{
	background: #dadada url("../assets/site-background.png") center top no-repeat;
    font-family: $font-stack;
	color:#111;
}
html,body,footer,.popover{min-width:960px;}
.container{width: 960px !important;}

p{margin:0;}
h1,h2,h3,h4,h5,h6{ margin:0 }
h1{ font-size: 33px; }
h2{ font-size: 18px; }
h3{ font-size: 32px; }
h4{ font-size: 18px; font-weight:normal;}
h5{ font-size: 20px; }
h5.h5{font-size: 25px; line-height:50px;}
h6{ font-size: 20px; }

img{
    max-width: 100%;
}

.text-green{color: $site-green;}
.text-red{color: $site-red;}
.text-white{color:white;}
.text-yellow{color:$site-yellow;}
.nopadding{padding:0;}
.em{font-style:italic;}

.section-hdr{
	color:$site-red;
	font-style: italic;
    text-transform:uppercase;
}

.inline{
    display:inline-block!important;
}
.text-center{
    text-align:center;
}
.blind-collapse {
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    overflow:hidden;
    max-height: 0;
    &.expand{
        max-height: 100vh;
    }
}
.blind-expand {
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    overflow:hidden;
    max-height: 100vh;
    &.collapse{
        max-height: 0;
    }
}

.padder{
    height:145px;
}