﻿
.tablelist {
    width: 100%;
    border: 0 solid #dddddd;
    font-size: 13px;
    background-color: white;

    &.expand {
        max-height: 2222px;
    }

    th, td {
        padding: 10px 10px;
    }

    th {
        background-color: #030303;
        border: 1px solid #d1d1d1;
        border-top-color: #030303;
        text-align: left;
        color: white;
    }

    tr:nth-child(odd) {
        background-color: #f6f6f6;
    }

    td {
        border: 2px solid #efefef;
        white-space: nowrap;

        .hot {
            @include bgskewLeft( $site-red );
            color: white;
            padding: 3px 5px 2px 0;
            margin-left: 5px;

            &:after {
                content: "ON THE MOVE";
                font-size: 11px;
                font-style: italic;
                font-weight: bold;
            }
        }

        &.details {
            text-align: left;

            &.haspics {
                position: relative;
                padding-right: 60px;
            }

            div {
                cursor: pointer;

                span {
                    white-space: nowrap;
                }

                &:hover span {
                    color: $site-red;
                }

                img {
                    width: 25px;
                    position: absolute;
                    top: 11px;
                    right: 10px;
                }

                [alt="number"] {
                    right: 40px;
                }

                .carNumber {
                    position: absolute;
                    right: 10px;
                    top: 11px;
                }
            }
        }
    }
}
