﻿.top1 {
    $nav-height: 78px;
    height: $nav-height;
    background-color: black;
    color: white;
    line-height: $nav-height;
    white-space: nowrap;

    .logo {
        @include inlineblock(middle);
        width: 140px;
    }

    .stripe {
        @include inlineblock(top);
        @include bg3step($site-red, $site-red, black);
        height: $nav-height;
        margin-left: 5px;

        .header {
            @include inlineblock(top);
            margin-left: 48px;
            width: 275px;

            h1 {
                @include inlineblock(top);
                line-height: 64px;

                span {
                    text-transform: uppercase;
                    font-style: italic;
                }

                sub {
                    font-size: 14px;
                    bottom: 0;
                    font-weight: normal;
                    font-style: italic;
                }

                small {
                    display: block;
                    font-size: 15px;
                    margin-top: -15px;
                    line-height: normal;
                    text-align: right;
                    font-family: $font-ssp;
                    font-weight: normal;
                }
            }
        }
    }

    .logo2 {
        @include inlineblock(top);
        @include bg3stepWithRightAngle(#212121, #3b3b3b, white);
        padding: 0 20px 0 42px;

        img {
            @include inlineblock(middle);
            width: 102px;
        }
    }

    .lapinfo {
        @include inlineblock(top);
        font-size: 30px;
        font-style: italic;
        font-weight: bold;

        > div {
            display: inline;
        }

        sup {
            position: static;
            @include inlineblock( 6px );
            font-size: 18px;
            margin-right: 5px;
            margin-left: 33px;
        }

        .laps {
            font-family: $font-roboto;
        }

        img {
            width: 30px;
            font-size: 1rem;
        }
    }
}

.top2 {
    position: relative;
    background-image: linear-gradient(to right, #fff 70%, $site-red 30%);
    border-top: 1px solid white;

    h2 {
        line-height: 37px;
    }

    .stripe {
        //@include bgskew( #191919 );
        @include bg3step(#e2e2e2, #d5d5d5, $site-red);
        color: white;
        padding-left: 60px;
        font-style: italic;
        width: 520px;
    }
}

.top3 {
    background-color: #d1d1d1;

    button.inline {
        margin-left: 15px;
    }

    .toggles {
        padding-top: 11px;
    }
}
