﻿
.track-big{
    cursor:pointer;
    svg{
        width:100%;
        path {
            fill: none;
            stroke: #111;
            stroke-width: 8px;
        }

        polygon {
            fill: #9b9b9b;
        }

        text {
            isolation: isolate;
            font-size: 18px;
            fill: #191919;
            font-weight: 700;
            font-style: italic;
            font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
    }
    &:hover svg{
        path {
            stroke: #fff;
        }
    }

}