﻿$font-stack:    'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-ssp:		'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-roboto:	'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$site-grey: 	#333;
$site-red:		#da291c;
$site-green:	#39b548;
$site-yellow:	gold;
$site-checkered:#39b548;
