﻿body {
  background: #dadada url("../assets/site-background.png") center top no-repeat;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111; }

html, body, footer, .popover {
  min-width: 960px; }

.container {
  width: 960px !important; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 33px; }

h2 {
  font-size: 18px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 18px;
  font-weight: normal; }

h5 {
  font-size: 20px; }

h5.h5 {
  font-size: 25px;
  line-height: 50px; }

h6 {
  font-size: 20px; }

img {
  max-width: 100%; }

.text-green {
  color: #39b548; }

.text-red {
  color: #da291c; }

.text-white {
  color: white; }

.text-yellow {
  color: gold; }

.nopadding {
  padding: 0; }

.em {
  font-style: italic; }

.section-hdr {
  color: #da291c;
  font-style: italic;
  text-transform: uppercase; }

.inline {
  display: inline-block !important; }

.text-center {
  text-align: center; }

.blind-collapse {
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 0; }
  .blind-collapse.expand {
    max-height: 100vh; }

.blind-expand {
  -moz-transition: max-height 1s;
  -o-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  max-height: 100vh; }
  .blind-expand.collapse {
    max-height: 0; }

.padder {
  height: 145px; }

.top1 {
  height: 78px;
  background-color: black;
  color: white;
  line-height: 78px;
  white-space: nowrap; }
  .top1 .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    width: 140px; }
  .top1 .stripe {
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    background-image: linear-gradient(103deg, transparent 20px, #da291c 21px, #da291c 30px, #da291c 31px, #da291c 40px, black 41px);
    height: 78px;
    margin-left: 5px; }
    .top1 .stripe .header {
      display: inline-block;
      vertical-align: top;
      margin-right: -5px;
      margin-left: 48px;
      width: 275px; }
      .top1 .stripe .header h1 {
        display: inline-block;
        vertical-align: top;
        margin-right: -5px;
        line-height: 64px; }
        .top1 .stripe .header h1 span {
          text-transform: uppercase;
          font-style: italic; }
        .top1 .stripe .header h1 sub {
          font-size: 14px;
          bottom: 0;
          font-weight: normal;
          font-style: italic; }
        .top1 .stripe .header h1 small {
          display: block;
          font-size: 15px;
          margin-top: -15px;
          line-height: normal;
          text-align: right;
          font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: normal; }
  .top1 .logo2 {
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    background-image: linear-gradient(103deg, transparent 20px, #212121 21px, #212121 30px, #3b3b3b 31px, #3b3b3b 40px, white 41px, white 90%, transparent 91%);
    padding: 0 20px 0 42px; }
    .top1 .logo2 img {
      display: inline-block;
      vertical-align: middle;
      margin-right: -5px;
      width: 102px; }
  .top1 .lapinfo {
    display: inline-block;
    vertical-align: top;
    margin-right: -5px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold; }
    .top1 .lapinfo > div {
      display: inline; }
    .top1 .lapinfo sup {
      position: static;
      display: inline-block;
      vertical-align: 6px;
      margin-right: -5px;
      font-size: 18px;
      margin-right: 5px;
      margin-left: 33px; }
    .top1 .lapinfo .laps {
      font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .top1 .lapinfo img {
      width: 30px;
      font-size: 1rem; }

.top2 {
  position: relative;
  background-image: linear-gradient(to right, #fff 70%, #da291c 30%);
  border-top: 1px solid white; }
  .top2 h2 {
    line-height: 37px; }
  .top2 .stripe {
    background-image: linear-gradient(103deg, transparent 20px, #e2e2e2 21px, #e2e2e2 30px, #d5d5d5 31px, #d5d5d5 40px, #da291c 41px);
    color: white;
    padding-left: 60px;
    font-style: italic;
    width: 670px; }

.top3 {
  background-color: #d1d1d1; }
  .top3 button.inline {
    margin-left: 15px; }
  .top3 .toggles {
    padding-top: 11px; }

button {
  background-color: transparent;
  border: 0 solid;
  padding: 0;
  color: #6d6d6d; }
  button.btn-red {
    background-color: #da291c;
    color: white;
    padding: 0 10px; }
  button.btn-tab {
    position: relative;
    z-index: 1;
    background-color: #3a3a3a;
    color: white;
    margin-left: 10px;
    padding: 10px 10px 10px 5px;
    text-transform: uppercase;
    font-weight: bold; }
    button.btn-tab:before {
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      left: -5px;
      background-color: #3a3a3a;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1; }
    button.btn-tab.on {
      cursor: default;
      background-color: #da291c; }
      button.btn-tab.on:before {
        background-color: #da291c; }
    button.btn-tab:focus {
      outline: none; }
  button.btn1 {
    font-size: 21px;
    margin-left: 15px; }
    button.btn1 span {
      font-size: 14px;
      font-weight: bold;
      margin-right: 3px; }
  button.btn2 {
    position: relative;
    z-index: 1;
    padding-right: 20px;
    color: #da291c;
    font-style: italic;
    font-weight: bold; }
    button.btn2:before {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      height: 0;
      width: 0;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1;
      border: 6px solid #da291c;
      border-color: transparent transparent #da291c #da291c; }
  button.btn-white {
    position: relative;
    z-index: 1;
    padding-right: 20px;
    color: white;
    font-size: 13px;
    font-style: italic; }
    button.btn-white:before {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      height: 0;
      width: 0;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1;
      border: 6px solid white;
      border-color: transparent transparent white white; }
  button.btn-back {
    position: relative;
    z-index: 1;
    padding-right: 20px;
    color: white;
    font-size: 13px;
    font-style: italic; }
    button.btn-back:before {
      content: '';
      position: absolute;
      top: 2px;
      right: 0;
      height: 0;
      width: 0;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1;
      border: 6px solid white;
      border-color: transparent transparent white white; }
  button.btn-close {
    color: white; }
  button svg {
    height: 16px;
    width: 22px;
    fill: #6d6d6d; }
  button.active {
    color: #da291c;
    cursor: default;
    outline: none; }
    button.active svg {
      fill: #da291c; }

.backbutton-container .contain2, .morebutton-container .contain2 {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  position: relative; }
  .backbutton-container .contain2:before, .morebutton-container .contain2:before {
    content: '';
    background-color: #da291c;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: -100%; }

.backbutton, .morebutton {
  display: inline-block;
  vertical-align: middle;
  margin-right: -5px;
  position: relative;
  z-index: 1;
  background-color: #da291c;
  text-align: right;
  padding: 2px 15px 1px 10px; }
  .backbutton:before, .morebutton:before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: 10px;
    background-color: #da291c;
    -ms-transform: skewX(12deg);
    -moz-transform: skewX(12deg);
    -o-transform: skewX(12deg);
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg);
    z-index: -1; }

.backbutton-right {
  width: 740px;
  height: 23px;
  margin-top: 5px; }
  .backbutton-right button {
    margin: 3px 0 0 10px; }
  .backbutton-right.on-mode {
    position: relative;
    z-index: 1;
    background-color: #da291c; }
    .backbutton-right.on-mode:before {
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      left: -5px;
      background-color: #da291c;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1; }

.extend-bg {
  position: relative;
  height: 25px; }
  .extend-bg .extend1 {
    position: absolute;
    right: 0;
    left: 70%;
    background-color: #da291c;
    top: 30px;
    height: 23px; }
  .extend-bg .extend2 {
    position: absolute;
    right: 0;
    left: 70%;
    background-color: white;
    top: 73px;
    height: 50px; }

.dropdown-container {
  position: relative;
  z-index: 2; }

.dropdowns {
  position: relative;
  z-index: 1;
  padding: 5px 0 5px 10px; }
  .dropdowns:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    -ms-transform: skewX(-12deg);
    -moz-transform: skewX(-12deg);
    -o-transform: skewX(-12deg);
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);
    z-index: -1; }
  .dropdowns .dropdown {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    margin-right: 0;
    margin-left: 10px; }
    .dropdowns .dropdown button {
      color: #111;
      font-size: 16px;
      font-style: italic;
      font-weight: bold; }
      .dropdowns .dropdown button:focus {
        outline: none;
        color: #da291c; }
    .dropdowns .dropdown .dropdown-menu {
      left: auto;
      right: 0;
      color: white;
      background-color: #191919;
      border-color: #191919; }
      .dropdowns .dropdown .dropdown-menu > li > a {
        color: white;
        font-style: italic; }
        .dropdowns .dropdown .dropdown-menu > li > a:hover {
          color: #191919; }
  .dropdowns .filter button {
    position: relative;
    z-index: 1;
    padding-right: 20px; }
    .dropdowns .filter button:before {
      content: '';
      position: absolute;
      bottom: 6px;
      right: 0;
      height: 0;
      width: 0;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1;
      border: 6px solid #da291c;
      border-color: transparent transparent #da291c #da291c; }
  .dropdowns .track-dropdown {
    position: static;
    margin-right: 20px; }
    .dropdowns .track-dropdown button {
      position: relative;
      z-index: 1;
      padding-right: 20px; }
      .dropdowns .track-dropdown button:before {
        content: '';
        position: absolute;
        top: 2px;
        right: 0;
        height: 0;
        width: 0;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1;
        border: 6px solid #da291c;
        border-color: transparent transparent #da291c #da291c; }
      .dropdowns .track-dropdown button:before {
        top: 12px; }
    .dropdowns .track-dropdown .dropdown-menu {
      right: 0;
      width: 941px; }

.tablelist {
  width: 100%;
  border: 0 solid #dddddd;
  font-size: 13px;
  background-color: white; }
  .tablelist.expand {
    max-height: 2222px; }
  .tablelist th, .tablelist td {
    padding: 10px 10px; }
  .tablelist th {
    background-color: #030303;
    border: 1px solid #d1d1d1;
    border-top-color: #030303;
    text-align: left;
    color: white; }
  .tablelist tr:nth-child(odd) {
    background-color: #f6f6f6; }
  .tablelist td {
    border: 2px solid #efefef;
    white-space: nowrap; }
    .tablelist td .hot {
      position: relative;
      z-index: 1;
      background-color: #da291c;
      color: white;
      padding: 3px 5px 2px 0;
      margin-left: 5px; }
      .tablelist td .hot:before {
        content: '';
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        left: -5px;
        background-color: #da291c;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1; }
      .tablelist td .hot:after {
        content: "ON THE MOVE";
        font-size: 11px;
        font-style: italic;
        font-weight: bold; }
    .tablelist td.details {
      text-align: left; }
      .tablelist td.details.haspics {
        position: relative;
        padding-right: 60px; }
      .tablelist td.details div {
        cursor: pointer; }
        .tablelist td.details div span {
          white-space: nowrap; }
        .tablelist td.details div:hover span {
          color: #da291c; }
        .tablelist td.details div img {
          width: 25px;
          position: absolute;
          top: 11px;
          right: 10px; }
        .tablelist td.details div [alt="number"] {
          right: 40px; }
        .tablelist td.details div .carNumber {
          position: absolute;
          right: 10px;
          top: 11px; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
  footer.blind-collapse {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
    footer.blind-collapse.expand {
      -moz-transition-delay: 1s;
      -o-transition-delay: 1s;
      -webkit-transition-delay: 1s;
      transition-delay: 1s;
      max-height: 222px; }
  footer section {
    background-image: linear-gradient(to bottom, #2d2d2d 0, #000 55%);
    color: white;
    font-size: 12px;
    text-align: center; }
  footer .foot-item {
    border-left: 1px solid #333;
    padding: 15px 0;
    font-style: italic;
    font-weight: bold; }
    footer .foot-item p {
      position: relative;
      z-index: 1;
      display: inline-block;
      height: 35px;
      margin: 5px 0;
      padding: 5px 8px;
      font-size: 16px;
      color: #111; }
      footer .foot-item p:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #9b9b9b;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1; }
      footer .foot-item p small {
        font-size: 10px;
        margin-top: -6px;
        display: block; }
    footer .foot-item em {
      display: block; }

.foot-item-L .foot-item-hdr {
  margin: 0;
  font-style: italic;
  position: relative;
  color: #da291c;
  font-size: 14px;
  bottom: -20px; }

.foot-item-L .inlinegrid {
  text-align: center; }

.foot-item-L .inlinegrid-item {
  font-size: 11px;
  width: 8%; }
  .foot-item-L .inlinegrid-item.item1 {
    width: 16%;
    padding-right: 10px; }
    .foot-item-L .inlinegrid-item.item1 .thumb {
      position: relative;
      display: inline-block;
      cursor: pointer; }
      .foot-item-L .inlinegrid-item.item1 .thumb [alt="number"] {
        position: absolute;
        top: 42px;
        left: 0;
        width: 25px; }
      .foot-item-L .inlinegrid-item.item1 .thumb [alt="engine"] {
        position: absolute;
        top: 44px;
        right: 0;
        width: 20px; }
    .foot-item-L .inlinegrid-item.item1 .name {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .foot-item-L .inlinegrid-item.item1 img {
      max-height: 70px; }
  .foot-item-L .inlinegrid-item.item2 {
    width: 12%;
    padding-right: 10px; }

.modaldialog {
  width: 945px; }
  .modaldialog .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: 0 none; }
  .modaldialog .modal-header {
    border: 0 none;
    padding: 0; }
    .modaldialog .modal-header button {
      color: white;
      font-size: 20px; }
      .modaldialog .modal-header button span {
        font-size: 32px;
        vertical-align: -4px; }
  .modaldialog .modal-body {
    background-color: white;
    background-image: url("../assets/drive-profile-bkgd.jpg");
    background-position: center top;
    border-radius: 10px;
    padding: 72px 0 0;
    min-height: 700px;
    background-size: 945px auto;
    background-repeat: no-repeat; }
    .modaldialog .modal-body .name-bg {
      font-size: 140px;
      line-height: 125px;
      font-weight: bold;
      text-transform: uppercase;
      position: absolute;
      z-index: 0;
      top: 30px;
      left: 110px;
      color: rgba(218, 41, 28, 0.1); }
      .modaldialog .modal-body .name-bg span {
        display: block;
        width: 1px; }
      .modaldialog .modal-body .name-bg .last {
        margin-left: 110px; }
    .modaldialog .modal-body .modal-body-container {
      margin-right: 25px;
      margin-left: 280px;
      position: relative;
      z-index: 1; }
    .modaldialog .modal-body .name-big {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      font-size: 63px;
      font-weight: bold;
      text-transform: uppercase;
      height: 90px; }
    .modaldialog .modal-body .table {
      display: table;
      width: 100%; }
    .modaldialog .modal-body .tr {
      display: table-row; }
    .modaldialog .modal-body .td {
      display: table-cell;
      text-align: center;
      font-weight: bold;
      vertical-align: middle; }
    .modaldialog .modal-body .th {
      display: table-cell;
      width: 10%;
      text-align: center;
      font-weight: bold;
      font-style: italic; }
    .modaldialog .modal-body .driver-details {
      font-size: 16px;
      height: 43px;
      margin-left: -25px; }
      .modaldialog .modal-body .driver-details img {
        width: 35px; }
    .modaldialog .modal-body .driver-times .tr2 {
      padding-bottom: 15px; }
    .modaldialog .modal-body .driver-times .tr3 {
      padding-bottom: 35px; }
    .modaldialog .modal-body .driver-times .td2 {
      display: inline-block;
      vertical-align: bottom;
      margin-right: -5px;
      text-align: center;
      font-weight: bold;
      width: 64px; }
      .modaldialog .modal-body .driver-times .td2 div {
        margin-top: 15px; }
    .modaldialog .modal-body .position-tab {
      margin-top: 16px;
      margin-left: 15px; }
      .modaldialog .modal-body .position-tab .em {
        position: relative;
        z-index: 1;
        background-color: #191919;
        color: white;
        font-size: 24px;
        padding: 12px 15px;
        font-weight: bold;
        line-height: 1; }
        .modaldialog .modal-body .position-tab .em:before {
          content: '';
          position: absolute;
          top: 0;
          right: 10px;
          bottom: 0;
          left: -5px;
          background-color: #191919;
          -ms-transform: skewX(-12deg);
          -moz-transform: skewX(-12deg);
          -o-transform: skewX(-12deg);
          -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
          z-index: -1; }
    .modaldialog .modal-body .hdr-big {
      font-size: 37px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 45px; }
      .modaldialog .modal-body .hdr-big img {
        height: 40px;
        vertical-align: -6px; }
    .modaldialog .modal-body .fast-stats div {
      text-align: center;
      font-weight: bold;
      font-style: italic; }
    .modaldialog .modal-body .fast-stats strong {
      display: block; }
    .modaldialog .modal-body .fast-stats p {
      position: relative;
      z-index: 1;
      display: inline-block;
      /*height: 35px;*/
      margin: 5px 0;
      padding: 7px;
      font-size: 18px; }
      .modaldialog .modal-body .fast-stats p:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #9b9b9b;
        -ms-transform: skewX(-12deg);
        -moz-transform: skewX(-12deg);
        -o-transform: skewX(-12deg);
        -webkit-transform: skewX(-12deg);
        transform: skewX(-12deg);
        z-index: -1; }
    .modaldialog .modal-body .fast-stats .avgspeed {
      font-size: 10px;
      top: -19px;
      display: block;
      z-index: 1;
      position: relative; }
    .modaldialog .modal-body .fullshot {
      position: absolute;
      top: 25px;
      left: -70px;
      height: 680px; }

.moredrivers {
  background-color: #d1d1d1;
  border-bottom: 3px solid #bcbcbc;
  padding-top: 15px; }

.drivers {
  background-color: #d1d1d1; }
  .drivers.blind-collapse {
    max-height: 315px;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s; }
  .drivers.expand {
    max-height: 3333px;
    -moz-transition: max-height 3s;
    -o-transition: max-height 3s;
    -webkit-transition: max-height 3s;
    transition: max-height 3s; }
  .drivers .drivers-grid .inlinegrid-item {
    width: 25%;
    padding: 10px;
    vertical-align: top; }
    .drivers .drivers-grid .inlinegrid-item .driver {
      padding: 15px 0 20px;
      position: relative;
      background-color: white; }
      .drivers .drivers-grid .inlinegrid-item .driver .position {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 35px;
        font-weight: bold;
        font-style: italic; }
      .drivers .drivers-grid .inlinegrid-item .driver .status {
        position: absolute;
        background-size: contain; }
        .drivers .drivers-grid .inlinegrid-item .driver .status.hot {
          position: relative;
          z-index: 1;
          background-color: #da291c;
          color: white;
          position: absolute;
          top: 0;
          right: 0;
          padding: 3px 5px 2px 0; }
          .drivers .drivers-grid .inlinegrid-item .driver .status.hot:before {
            content: '';
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            left: -5px;
            background-color: #da291c;
            -ms-transform: skewX(-12deg);
            -moz-transform: skewX(-12deg);
            -o-transform: skewX(-12deg);
            -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);
            z-index: -1; }
          .drivers .drivers-grid .inlinegrid-item .driver .status.hot:after {
            content: "ON THE MOVE";
            font-size: 11px;
            font-style: italic;
            font-weight: bold; }
        .drivers .drivers-grid .inlinegrid-item .driver .status.pit {
          position: relative;
          z-index: 1;
          background-color: black;
          color: white;
          position: absolute;
          top: 10px;
          right: 0;
          padding: 5px 12px 5px 7px; }
          .drivers .drivers-grid .inlinegrid-item .driver .status.pit:before {
            content: '';
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            left: -5px;
            background-color: black;
            -ms-transform: skewX(-12deg);
            -moz-transform: skewX(-12deg);
            -o-transform: skewX(-12deg);
            -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);
            z-index: -1; }
          .drivers .drivers-grid .inlinegrid-item .driver .status.pit:after {
            content: "PIT";
            font-size: 20px;
            font-style: italic;
            font-weight: bold; }
        .drivers .drivers-grid .inlinegrid-item .driver .status.out {
          position: relative;
          z-index: 1;
          background-color: black;
          color: white;
          position: absolute;
          top: 10px;
          right: 0;
          padding: 5px 12px 5px 7px; }
          .drivers .drivers-grid .inlinegrid-item .driver .status.out:before {
            content: '';
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            left: -5px;
            background-color: black;
            -ms-transform: skewX(-12deg);
            -moz-transform: skewX(-12deg);
            -o-transform: skewX(-12deg);
            -webkit-transform: skewX(-12deg);
            transform: skewX(-12deg);
            z-index: -1; }
          .drivers .drivers-grid .inlinegrid-item .driver .status.out:after {
            content: "OUT";
            font-size: 20px;
            font-style: italic;
            font-weight: bold; }
      .drivers .drivers-grid .inlinegrid-item .driver .thumb {
        cursor: pointer; }
      .drivers .drivers-grid .inlinegrid-item .driver [alt="number"] {
        position: absolute;
        top: 120px;
        left: 0;
        width: 50px; }
      .drivers .drivers-grid .inlinegrid-item .driver [alt="engine"] {
        position: absolute;
        top: 127px;
        right: 10px;
        width: 30px; }
      .drivers .drivers-grid .inlinegrid-item .driver .name {
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
        text-align: center;
        margin: 12px 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px; }
      .drivers .drivers-grid .inlinegrid-item .driver table {
        width: 100%;
        font-size: 12px;
        text-align: center; }
        .drivers .drivers-grid .inlinegrid-item .driver table th {
          color: #676767;
          text-transform: uppercase; }

.inlinegrid {
  text-align: center;
  margin-right: -10px;
  margin-left: -10px; }

.inlinegrid-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: -5px;
  text-align: center;
  margin-right: -3px; }

.inlinegrid-hdr {
  margin: 0;
  font-weight: bold;
  font-style: italic;
  position: relative;
  bottom: -50px;
  padding-left: 230px; }

.ranklist {
  background-color: #d1d1d1; }
  .ranklist.expand {
    max-height: 2100px; }

.info-row.blind-expand {
  max-height: 1500px; }

.info-row.collapse {
  max-height: 0; }

.section-speeds.expand {
  max-height: 1500px; }

.track-big svg {
  height: 330px; }

.conditions {
  font-weight: bold; }
  .conditions h5 {
    margin: 55px 0 20px;
    text-transform: uppercase; }
  .conditions em {
    font-size: 16px; }
  .conditions p {
    font-size: 18px; }

.lastlap-sectiontimes .inlinegrid-item {
  width: 9%;
  font-weight: bold;
  font-size: 16px; }
  .lastlap-sectiontimes .inlinegrid-item.item1 {
    position: relative;
    width: 18%;
    background-color: white;
    padding: 5px 5px; }
    .lastlap-sectiontimes .inlinegrid-item.item1 .thumb {
      position: relative;
      cursor: pointer; }
      .lastlap-sectiontimes .inlinegrid-item.item1 .thumb [alt="number"] {
        position: absolute;
        top: 80px;
        left: 0;
        width: 40px; }
      .lastlap-sectiontimes .inlinegrid-item.item1 .thumb [alt="engine"] {
        position: absolute;
        top: 85px;
        right: 0;
        width: 25px; }
    .lastlap-sectiontimes .inlinegrid-item.item1 .name {
      font-size: 11px;
      margin-top: 5px;
      font-weight: bold; }

[data-active="section0"] .section0 {
  border-color: black; }
  [data-active="section0"] .section0 .place:before {
    border: 1px solid black; }
  [data-active="section0"] .section0 .time {
    height: 51px; }
  [data-active="section0"] .section0 .has-popover {
    visibility: hidden; }
  [data-active="section0"] .section0 .backbutton {
    display: inline-block; }

[data-active="section1"] .section1 {
  border-color: black; }
  [data-active="section1"] .section1 .place:before {
    border: 1px solid black; }
  [data-active="section1"] .section1 .time {
    height: 51px; }
  [data-active="section1"] .section1 .has-popover {
    visibility: hidden; }
  [data-active="section1"] .section1 .backbutton {
    display: inline-block; }

[data-active="section2"] .section2 {
  border-color: black; }
  [data-active="section2"] .section2 .place:before {
    border: 1px solid black; }
  [data-active="section2"] .section2 .time {
    height: 51px; }
  [data-active="section2"] .section2 .has-popover {
    visibility: hidden; }
  [data-active="section2"] .section2 .backbutton {
    display: inline-block; }

[data-active="section3"] .section3 {
  border-color: black; }
  [data-active="section3"] .section3 .place:before {
    border: 1px solid black; }
  [data-active="section3"] .section3 .time {
    height: 51px; }
  [data-active="section3"] .section3 .has-popover {
    visibility: hidden; }
  [data-active="section3"] .section3 .backbutton {
    display: inline-block; }

[data-active="section4"] .section4 {
  border-color: black; }
  [data-active="section4"] .section4 .place:before {
    border: 1px solid black; }
  [data-active="section4"] .section4 .time {
    height: 51px; }
  [data-active="section4"] .section4 .has-popover {
    visibility: hidden; }
  [data-active="section4"] .section4 .backbutton {
    display: inline-block; }

[data-active="section5"] .section5 {
  border-color: black; }
  [data-active="section5"] .section5 .place:before {
    border: 1px solid black; }
  [data-active="section5"] .section5 .time {
    height: 51px; }
  [data-active="section5"] .section5 .has-popover {
    visibility: hidden; }
  [data-active="section5"] .section5 .backbutton {
    display: inline-block; }

[data-active="section6"] .section6 {
  border-color: black; }
  [data-active="section6"] .section6 .place:before {
    border: 1px solid black; }
  [data-active="section6"] .section6 .time {
    height: 51px; }
  [data-active="section6"] .section6 .has-popover {
    visibility: hidden; }
  [data-active="section6"] .section6 .backbutton {
    display: inline-block; }

[data-active="section7"] .section7 {
  border-color: black; }
  [data-active="section7"] .section7 .place:before {
    border: 1px solid black; }
  [data-active="section7"] .section7 .time {
    height: 51px; }
  [data-active="section7"] .section7 .has-popover {
    visibility: hidden; }
  [data-active="section7"] .section7 .backbutton {
    display: inline-block; }

[data-active="section8"] .section8 {
  border-color: black; }
  [data-active="section8"] .section8 .place:before {
    border: 1px solid black; }
  [data-active="section8"] .section8 .time {
    height: 51px; }
  [data-active="section8"] .section8 .has-popover {
    visibility: hidden; }
  [data-active="section8"] .section8 .backbutton {
    display: inline-block; }

[data-active="section9"] .section9 {
  border-color: black; }
  [data-active="section9"] .section9 .place:before {
    border: 1px solid black; }
  [data-active="section9"] .section9 .time {
    height: 51px; }
  [data-active="section9"] .section9 .has-popover {
    visibility: hidden; }
  [data-active="section9"] .section9 .backbutton {
    display: inline-block; }

.best-sectiontimes .best {
  height: 278px; }

.best {
  margin: 5px 0 40px;
  padding: 5px 10px;
  background-color: white;
  font-weight: bold;
  border: 1px solid white;
  position: relative; }
  .best .place {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: black;
    text-align: center;
    width: 27px;
    top: -15px;
    font-style: italic;
    font-size: 18px; }
    .best .place:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #9b9b9b;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1; }
  .best .lap {
    font-size: 18px; }
    .best .lap:before {
      content: 'Lap '; }
  .best .title {
    position: relative;
    top: -19px;
    font-style: italic;
    color: #da291c;
    font-size: 20px; }
  .best .thumb {
    width: 79%;
    position: relative;
    margin: 0 auto;
    cursor: pointer; }
    .best .thumb [alt="number"] {
      position: absolute;
      top: 110px;
      left: 0;
      width: 50px; }
    .best .thumb [alt="engine"] {
      position: absolute;
      top: 115px;
      right: 5px;
      width: 30px; }
  .best .name {
    margin: 9px 0 12px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold; }
  .best .time {
    position: relative;
    z-index: 1;
    background-color: #191919;
    padding: 5px 25px;
    bottom: 1px;
    right: -11px;
    font-weight: normal;
    font-style: italic;
    color: white; }
    .best .time:before {
      content: '';
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      left: -5px;
      background-color: #191919;
      -ms-transform: skewX(-12deg);
      -moz-transform: skewX(-12deg);
      -o-transform: skewX(-12deg);
      -webkit-transform: skewX(-12deg);
      transform: skewX(-12deg);
      z-index: -1; }
  .best .label {
    color: black;
    text-align: right;
    font-weight: bold; }
  .best .backbutton {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 2px 3px 10px; }

.popover {
  left: 0 !important;
  right: 0;
  max-width: none;
  background-color: #191919;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: none;
  padding: 0;
  border: 0 none;
  padding-bottom: 120px; }
  .popover .popover-content {
    padding: 15px 0 60px; }
  .popover h4 {
    font-size: 20px;
    margin-bottom: 12px;
    color: white; }

.track-big {
  cursor: pointer; }
  .track-big svg {
    width: 100%; }
    .track-big svg path {
      fill: none;
      stroke: #111;
      stroke-width: 8px; }
    .track-big svg polygon {
      fill: #9b9b9b; }
    .track-big svg text {
      isolation: isolate;
      font-size: 18px;
      fill: #191919;
      font-weight: 700;
      font-style: italic;
      font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .track-big:hover svg path {
    stroke: #fff; }

.preloader {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center; }
  .preloader .vertical-alignment {
    position: relative;
    top: 50%; }
  .preloader .spinner {
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    visibility: hidden; }
  .preloader .spinner1 {
    -moz-animation-name: spinner1;
    -o-animation-name: spinner1;
    -webkit-animation-name: spinner1;
    animation-name: spinner1; }
  .preloader .spinner2 {
    -moz-animation-name: spinner2;
    -o-animation-name: spinner2;
    -webkit-animation-name: spinner2;
    animation-name: spinner2; }
  .preloader .spinner3 {
    -moz-animation-name: spinner3;
    -o-animation-name: spinner3;
    -webkit-animation-name: spinner3;
    animation-name: spinner3; }

@-moz-keyframes spinner1 {
  0% {
    visibility: visible; }
  33% {
    visibility: hidden; } }

@-webkit-keyframes spinner1 {
  0% {
    visibility: visible; }
  33% {
    visibility: hidden; } }

@keyframes spinner1 {
  0% {
    visibility: visible; }
  33% {
    visibility: hidden; } }

@-moz-keyframes spinner2 {
  0% {
    visibility: hidden; }
  33% {
    visibility: visible; }
  66% {
    visibility: hidden; } }

@-webkit-keyframes spinner2 {
  0% {
    visibility: hidden; }
  33% {
    visibility: visible; }
  66% {
    visibility: hidden; } }

@keyframes spinner2 {
  0% {
    visibility: hidden; }
  33% {
    visibility: visible; }
  66% {
    visibility: hidden; } }

@-moz-keyframes spinner3 {
  0% {
    visibility: hidden; }
  66% {
    visibility: visible; } }

@-webkit-keyframes spinner3 {
  0% {
    visibility: hidden; }
  66% {
    visibility: visible; } }

@keyframes spinner3 {
  0% {
    visibility: hidden; }
  66% {
    visibility: visible; } }

.video {
  border: 0 solid transparent;
  width: 700px;
  height: 394px; }

.video.full {
  width: 940px;
  height: 529px; }

.radio {
  border: 0 solid transparent;
  width: 220px;
  height: 141px; }

.radio.full {
  width: 940px;
  height: 181px; }

.popover {
  z-index: 999; }

